* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
main {
	width: 966px;
	margin: 50px auto;
}
.blog-box{
	border: solid 1px;
	float: left;
	margin-right: 30px;
	padding: 10px 10px;
}

.blog {
	background-image: url(img/flow01.png);
	background-size: cover;
	height: 150px;
	width: 280px;
	margin-bottom: 10px;
}
.blog-item {
	color: black;
	text-align: left;
}
.blog-text {
	font-size: 15px;
}
.blog-check {
	background-color: orange;
	float: left;
}
.blog-box2 {
	border: solid 1px;
	float: left;
	margin-right: 30px;
	padding: 10px 10px;
}
.blog-check2 {
	background-color: orange;
	float: left;
}
.blog2 {
	background-image: url(img/flow02.png);
	background-size: cover;
    height: 150px;
    width: 280px;
    margin-bottom: 10px;
}
.blog-item2 {
	text-align: left;
	color: black;
}
.blog-box3 {
	border: solid 1px;
	float: left;
	padding: 10px 10px;
}
.blog-check3 {
	background-color: orange;
	float: left;
}
.blog3 {
	background-image: url(img/flow03.png);
	background-size: cover;
	height: 150px;
	width: 280px;
	margin-bottom: 10px;
}
.blog-item3 {
	color: black;
	text-align: left;
}

@media screen and (max-width: 768px) {
	main {
		width: 90%;
		margin: 50px auto;
	}
	.blog-box {
		margin-bottom: 20px;
		float: none;
	}
	.blog-box2 {
		margin-bottom: 20px;
		float: none;
	}
	.blog-box3 {
		float: none;
	}
}